#app {
  width: 100vw;
  height: 100vh;

  background-color: black;
  color: white;

  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
}